In [87]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [88]:
# Create the dataset
data = {'S.N': [1,2,3,4],
    'Student Name': ["SATYABRATA","SANDEEP","TRILOCHAN","GATI"],
    'Subject 1': [85, 75, 90, 80],
    'Subject 2': [70, 80, 85, 75],
    'Subject 3': [90, 95, 80, 85],
}

In [89]:
df = pd.DataFrame(data)

In [90]:
df

   S.N Student Name  Subject 1  Subject 2  Subject 3
0    1   SATYABRATA         85         70         90
1    2      SANDEEP         75         80         95
2    3    TRILOCHAN         90         85         80
3    4         GATI         80         75         85

In [91]:
# Split the dataset into features (X) and target variable (y)
X = df[['Subject 1', 'Subject 2']]
y = df['Subject 3']

In [92]:
# Create and fit the linear regression model
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [93]:
# Predict the subject 3 mark for Trisul
Trisul_subject1 = 82
Trisul_subject2 = 78

In [94]:
prediction = model.predict([[Trisul_subject1, Trisul_subject2]])

In [96]:
print("Predicted Subject 3 Mark for Trisul:", prediction[0])

Predicted Subject 3 Mark for Trisul: 87.75000000000001